[Desktop Entry]
Type=Link
Name=Quizz Java & Réponses
URL=https://docs.google.com/document/d/1GYz20jtf8lBhTMhnvazRH7BqXixDJLXwq9ycpHlgqGw/edit?usp=drivesdk
